mixin contact-content()
	section.contact-content
		.contact-content__wrapper
			h1 КОНТАКТЫ
			+breadcrumbs()

			.contact-content-list-wrapper
				.contact-content-list-address
					ul.contact-content-list-address__container
						li.contact-content-list-address__item
							strong Адрес: 
							span Город Астана, улица Кенесары 15, офис 6.
						
						li.contact-content-list-address__item
							strong Тел: 
							span +7 (7172) 22-36-21
						
						li.contact-content-list-address__item 
							strong Cотовый: 
							span +7 777 777 77 77
						
						li.contact-content-list-address__item 
							strong E-mail: 
							span familyclinic@mail.ru

				.contact-content-list-social
					a(href="#" title="" target="_blank").contact-content-list-social__item Следите за нами в Facebook

				.contact-content-list-mode
					.contact-content-list-mode__title Режим работы
					table
						tbody
							tr
								td Понедельник-Пятница
								td 8:00 - 21:00
							tr 
								td Суббота
								td 9:00 - 19:00
							tr 
								td Воскресенье
								td 9:00 - 14:00

			.contact-content-list-map
				| <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Wonom8b1gR5o9pIe6c14p3eKhc1lP5pw&width=500&height=400"></script>