.contact-content {
	&__wrapper {
		position: relative;

		display: flex;

		max-width: 1200px;
		padding-bottom: 25px;

		@extend .wrapper;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 960px) {
			display: block;
		}
	}
	h1 {
		margin: 0 0 25px 0;

		@extend .title-inside;
	}
}

.contact-content-list-wrapper {
	display: flex;

	width: 50%;

	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	@media screen and (max-width: 960px) {
		display: block;

		width: 100%;
	}
}

.contact-content-list-address {
	height: auto;
	&__container {
		@include nl;
	}
	&__item {
		strong {
			color: $green;
		}
		span {
			@extend .paragraph;
		}
	}
}

.contact-content-list-social {
	@media screen and (max-width: 960px) {
		margin-top: 15px;
	}
	&__item {
		position: relative;

		padding-left: 33px;

		text-decoration: none;

		@extend .paragraph;
		&:before {
			top: -5px;
			left: 0;

			@include content;
			@include bg($fb);
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.contact-content-list-mode {
	width: 100%;
	margin-top: 40px;
	@media screen and (max-width: 960px) {
		margin-top: 15px;
	}
	&__title {
		color: $green;

		font-size: em(18px);
	}
	table {
		width: 50%;
		margin-top: 10px;
		@media screen and (max-width: 960px) {
			width: 100%;
		}
		tr {
			td {
				padding: 5px 0;

				text-align: right;

				border-bottom: 1px solid #dedede;

				font-size: em(14px);
				&:first-child {
					text-align: left;

					font-weight: 700;
				}
			}
		}
	}
}

.contact-content-list-map {
	border: 1px solid $green;
	@media screen and (max-width: 960px) {
		overflow: hidden;

		width: 100%;
		margin-top: 15px;
	}
}
