mixin contact-content()
	section.contact-content
		.contact-content__wrapper
			h1 КОНТАКТЫ
			+breadcrumbs()

			.contact-content-list-address
				ul.contact-content-list-address__container
					li.contact-content-list-address__item
						strong Адрес: 
						span Город Астана, улица Кенесары 15, офис 6.
					
					li.contact-content-list-address__item
						strong Тел: 
						span +7 (7172) 22-36-21
					
					li.contact-content-list-address__item 
						strong Cотовый: 
						span +7 777 777 77 77
					
					li.contact-content-list-address__item 
						strong E-mail: 
						span famalyclinic@mail.ru

			.contact-content-list-social
				ul.contact-content-list-social__container
					li.contact-content-list-social__item.contact-content-list-social__item--vk Следите за нами Вконтакте
					li.contact-content-list-social__item.contact-content-list-social__item--tw Следите за нами в Twitter
					li.contact-content-list-social__item.contact-content-list-social__item--gp Следите за нами в Google Plus

			.contact-content-list-map
				| <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.580193297382!2d71.42672259999999!3d51.17152850000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245812abc9e2579%3A0x38b15af1ea8f3b6c!2z0YPQuy4g0KHQsNC60LXQvdCwINCh0LXQudGE0YPQu9C70LjQvdCwIDM0LCDQkNGB0YLQsNC90LAgMDIwMDAwLCDQmtCw0LfQsNGF0YHRgtCw0L0!5e0!3m2!1sru!2s!4v1440382379230" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>