mixin modals()
	.modal#appointment
		.modal__title Записаться на прием

		.modal__close

		form(method="" action="").form
			.form__wrapper
				.form__column
					label.form__label Ваше имя:
					input(type="text" value="").form__element

				.form__column
					label.form__label Ваш телефон:
					input(type="text" value="").form__element

				.form__column
					label.form__label Отделение клиники:
					input(type="text" value="").form__element

				.form__column
					label.form__label Дата записи:
					input(type="date" value="").form__element

				.form__row
					input(type="submit" value="ЗАПИСАТЬСЯ НА ПРИЕМ К ВРАЧУ").form__submit

	.modal-mask