mixin appointments()
	section.appointments
		.appointments__wrapper
			.appointments__title 
				span Записаться на прием

			form(method="" action="").form
				.form__column
					label.form__label Ваше имя:
					input(type="text" value="").form__element

				.form__column
					label.form__label Ваш телефон:
					input(type="text" value="").form__element

				.form__column
					label.form__label Врач (или отделение):
					input(type="text" value="").form__element

				.form__column
					label.form__label Дата записи:
					input(type="text" value="").form__element

				input(type="submit" value="ЗАПИСАТЬСЯ НА ПРИЕМ К ВРАЧУ").form__submit

			.appointments__banner
				img(src="%=staticPrefix=%images/content/banner.jpg" alt="")