mixin appointment-content()
	section.page-content
		.page-content__wrapper
			aside.sidebar-left
				+left-navigation(navigation.appointment)

			.single-page-content
				h1 УСЛУГИ КЛИНИКИ

				+breadcrumbs()

				p Нет ничего ценнее в жизни человека - чем здоровье. Как часто мы осознаем это, только тогда, когда его теряем. Влияние внешней среды, постоянные стрессы, хроническая усталость, неправильное питание – все это те факторы, которые, воздействуя на женский организм, снижают его защитные свойства.

				p Уже 23 года мы помогаем женщинам всегда оставаться здоровыми и уверенными, правильно и удобно заботиться о здоровье и будущем материнстве. Благодаря профессионализму наших врачей, их опыту, современным методам диагностики и лечения, комфортным условиям пребывания в клинике и высокому качеству обслуживания, мы предоставляем индивидуальный комплексный подход каждой женщине.

				h2 В FAMILY-CLINIC вы сможете:

				ul
					li проконсультироваться с врачом-гинекологом.
					li пройти комплексное профилактическое обследование;
					li пройти УЗ-диагностику;
					li пройти инструментальное обследование: кольпоскопию, биопсию;
					li подобрать наиболее подходящий метод контрацепции;
					li провести цитологическое, биохимическое, иммунологическое, цитогенетическое (хромосомный паспорт) и молекулярно-генетическое (ДНК-диагоностика) тестирование;
					li решить проблему нарушения менструального цикла: болезненные месячные, обильные или скудные выделения во время месячных, задержки и нерегулярные месячные.
					li в случае необходимости, пройти эффективное и надежное лечение таких заболеваний как: молочница, эрозия шейки матки, дисплазия шейки матки, аднексит, воспаление придатков, ВПЧ, герпес, папилломы, кондиломы, уреаплазмоз (микоплазмоз) и хламидиоз.

				p Мы заботимся о том, том чтобы вы не только чувствовали себя здоровой, но и были уверенной в этом. Ведь именно осознание простого факта «я здорова» является залогом полноценной жизни каждой женщины в любом возрасте, при любых жизненных обстоятельствах.

				p Почему стоит доверить свое здоровье FAMILY-CLINIC ?

				h2 Узкая специализация

				p FAMILY-CLINIC – специализированная клиника по вопросам гинекологии, маммологии, профилактики и оперативного лечения женских заболеваний.

				h2 Масштабность

				p Развитая сеть амбулаторно-поликлинических центров в Киеве, в которых работают высококвалифицированные врачи 32 специальностей.

				h2 Комплексность

				p Весь спектр услуг для девушки и женщины: анализы, диагностика, консультации узких специалистов, заключение врача.

				h2 Оснащенность

				p Оборудование нового поколения, в том числе для амбулаторного лечения патологий шейки матки.

				h2 Доступность

				p Оптимальные по стоимости и содержанию программы профилактики для женщин разного возраста и с разными потребностями.

				h2 Прозрачность

				p Прозрачность и комфортность расчетов за услуги. 

				.appointment-content-info
					span.appointment-content-info__cost ЦЕНА НА ПРИЕМ: 30.000 тг
					a(href="#" title="").appointment-content-info__btn ЗАПИСАТЬСЯ НА ПРИЕМ К ВРАЧУ