mixin directions()
	section.directions
		.directions__wrapper
			.directions__title 
				span Направления

			a(href="#" title="").directions__item.directions__item--general-medicine 
				span
				| Общая медицина 
			a(href="#" title="").directions__item.directions__item--childrens-department  
				span
				| Детское отделение 
			a(href="#" title="").directions__item.directions__item--aesthetic-medicine  
				span
				| эстетическая медицина
			a(href="#" title="").directions__item.directions__item--diagnostics  
				span
				| диагностика
			a(href="#" title="").directions__item.directions__item--prophylactic-examinations  
				span
				| профосмотры 
			a(href="#" title="").directions__item.directions__item--checkup-program  
				span
				| CHECK-UP ПРОГРАММЫ 
			a(href="#" title="").directions__item.directions__item--management-pregnancy  
				span
				| ведение беременности 
			a(href="#" title="").directions__item.directions__item--rehabilitation  
				span
				| реабилитация          