// Common styles of the project

html,
body {
	font-family: "Calibri";
}

.wrapper {
	box-sizing: border-box;
	width: 100%;
	margin: auto;
	@media screen and (max-width: 960px) {
		padding: 0 15px;
	}
	// @media screen and (max-width: 1024px) {
	// width: 1007px;
	// }
	// @media screen and (max-width: 960px) {
	// width: 100%;
	// display: block;
	// }
}

.main {
	position: relative;

	width: 100%;
	max-width: 1920px;
	margin: auto;
	// @media screen and (max-width: 1024px) {
	// width: 1007px;
	// }
	// @media screen and (max-width: 960px) {
	// width: 100%;
	// display: block;
	// }
}
