// GUI stylies of the project
// For example, styles of the links, buttons and so on.


.title {
	width: 100%;

	text-align: center;
	text-transform: uppercase;

	color: $gray;

	font-family: "ReformaGroteskDemiC";
	font-size: em(44px);
	span {
		border-bottom: 1px solid $green;
	}
}

.title-inside {
	position: relative;

	width: 100%;

	text-transform: uppercase;

	color: $green;
	border-bottom: 2px solid #b2b2b2;

	font-size: em(24px);
	font-weight: 700;
}

.green-btn {
	text-decoration: none;
	text-transform: uppercase;

	color: #fff;
	background: $green;

	font-size: em(14px);
	&:hover {
		background: $green - #111;
	}
}

.paragraph {
	margin-bottom: 15px;

	color: #6d6e71;

	font-size: em(14px, 16px);
}

.single-page-content {
	position: relative;

	width: 100%;
	padding-bottom: 40px;

	text-align: justify;

	@include cf;
	&__date {
		padding-top: 10px;

		@extend .paragraph;
	}
	&__float {
		float: left;

		width: 960px;
		&--news {
			width: 900px;
		}
	}
	h1 {
		margin: 0;

		@extend .title-inside;
	}
	h2 {
		color: $gray;

		font-size: em(18px);
	}
	p,
	ul,
	ol,
	strong {
		@extend .paragraph;
		strong {
			font-size: em(14px, 14px);
		}
	}
	img {
		width: 100% !important;
		height: auto !important;
	}
}

.sidebar-left {
	width: 255px;
	margin-right: 41px;
	&--float {
		float: left;

		margin-right: 25px;
	}
}
