mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__list
			a(href="#" title="").top-menu__item Главная
			a(href="#" title="").top-menu__item О Famaly Clinic
			a(href="#" title="").top-menu__item Направления
			a(href="#" title="").top-menu__item Специалисты
			a(href="#" title="").top-menu__item Полезная информация
			a(href="#" title="").top-menu__item Цены
			a(href="#" title="").top-menu__item Контакты