mixin program-content()
	section.page-content
		.page-content__wrapper
			aside.sidebar-left
				+left-navigation(navigation.generalMedicine)

			.single-page-content
				h1 ГАСТРОЭНТЕРОЛОГИЯ

				+breadcrumbs()

				p Современный образ жизни, экология и неправильное питание - все это сказывается на желудочно-кишечном тракте. Сегодня заболевания, которые лечатся в гастроэнтерологии очень «помолодели». С каждым годом растет число пациентов врача гастроэнтеролога ещё и из-за того, что большинство людей пренебрегают визитом к доктору и занимаются самолечением. Увы, такое лечение не даёт результата, а лишь усугубляет ситуацию – болезни ЖКТ переходят в хроническую форму, появляются осложнения, которые с большим трудом поддаются лечению.

				p Гастроэнтерологическое отделение Family Clinic предоставляет своим пациентам полный спектр услуг – ультразвуковое обследование внутренних органов и систем, лабораторные и клинические анализы, возможность консультаций смежных специалистов и многое другое. Качественная диагностика и правильно собранный анамнез – залог эффективного лечения, а значит полного выздоровления пациентов.

				h2 Симптомы гастроэнтерологических заболеваний:

				ul
					li боли в боку, в животе и даже в грудине
					li изжога, отрыжка, вздутие
					li расстройство стула или рвота
					li потеря веса или быстрое насыщение при приёме пищи
					li появление слизи или крови в стуле
					li запоры

				h2 Основные направления деятельности отделения:

				ul
					li хронические запоры и другие расстройства стула
					li дисбактериоз и синдром раздраженного кишечника
					li гастриты различного происхождения
					li язвенная болезнь желудка и двенадцатиперстной кишки
					li хронический панкреатит
					li гепатиты, дискинезии жвп, холециститы и другие заболевания печени и желчного пузыря
					li заболевания пищевода (гастро-эзофагальнаярефлюксная болезнь и т.п.)
					li колиты

				p КОНСУЛЬТАЦИЯ ВРАЧА ГАСТРОЭНТЕРОЛОГА 4 000 ТЕНГЕ

					.appointment-content-info
						a(href="#" title="").appointment-content-info__btn ЗАПИСАТЬСЯ НА ПРИЕМ К ВРАЧУ