mixin program-content()
	section.page-content
		.page-content__wrapper
			aside.sidebar-left
				+left-navigation(navigation.generalMedicine)

			.single-page-content
				h1 ПОЛЕЗНАЯ ИНФОРМАЦИЯ

				+breadcrumbs()

				h2 Ось здоровья

				p Способность с легкостью совершать любые движения дорогого стоит. Но это мы понимаем, лишь когда боль в спине заставляет нас отказаться от привычного образа жизни. Причем нередко проблемы с позвоночником отдаются «эхом» в самых разных частях тела, становясь причиной ухудшения здоровья внутренних органов. Что надо знать о позвоночнике, чтобы лучше вооружиться против его болезней?

				p В китайской медицине позвоночник уважительно называют «золотым столбом», чтобы подчеркнуть его роль для здоровья человека. Это главная опора, без которой мы не могли бы ходить и даже стоять. К позвоночнику крепятся все структурные компоненты скелета – начиная с головы и заканчивая конечностями. Не будь у нас такой гибкой биомеханической конструкции, невозможно было бы выполнять ротации, наклоны, сгибания и разгибания корпуса. К тому же, позвоночник прекрасно амортизирует толчки при различных движениях и ударах, защищая головной мозг от сотрясения. А выполнять столь разнообразные функции наш «золотой столб» может лишь благодаря своему уникальному строению.

				h2 Основной элемент

				p Позвоночник человека «сложен» из 32–34 косточек специфической конструкции, именуемых позвонками. Эти структурные элементы не идентичны – у них есть отличия по размеру и форме, хотя в целом строение схоже.

				p Каждый позвонок состоит из круглого тела и примыкающей к нему дуги. От нее отходят по 7 отростков. Один из них (центральный) используется для фиксации мягких тканей спины (мы его прощупываем через кожу как «бугорок» вдоль всего хребта). Два других отростка, расположенные симметрично справа и слева, предназначены для крепления мышц. И еще две пары – одна вверху и одна внизу – используются для сочленения с соседними позвонками (они называются суставными). Самые маленькие позвонки – шейные, а самые массивные – в поясничном отделе.

				p Здоровый позвонок отличается высокой прочностью. Более того, природа наделила его способностью к самовосстановлению, для чего снабдила двумя типами клеток: одни заняты разложением костной ткани, а другие – ее обновлением. Но что любопытно: если отмирание «старых» клеток происходит постоянно, то активное образование нового костного вещества идет только, когда позвоночник испытывает физические нагрузки.

				p Таким образом, при недостаточной активности (пренебрежении зарядкой, сидячей работе) регенерация клеток замедляется, в то время как их разрушение никто не отменял. По этой причине позвонки становятся менее крепкими, ломкими. В частности, у космонавтов, лишенных в условиях полета возможности активно двигаться, уже через 1 месяц кости теряют в общей сложности до 5-7% своей плотности и массы, и потому им необходимы месяцы реабилитации на Земле. Также на прочность костной ткани влияет количество поступающего в организм кальция и витамина D. Их недостаток чреват возникновением компрессионных переломов, трещин в позвонках. По большей части, хрупкость позвонков – удел пожилых людей. Данная патология именуется «остеопороз». К тому же, с возрастом возможно образование «шпор» по краю позвонков (крючкообразных костных выростов), что является симптомом другого заболевания – спондилеза.

				h2 Отделы позвоночника

				p Хотя позвоночный столб – это целостная конструкция, в нем выделяют пять отделов, о расположении которых легко догадаться по названиям.

				p Шейный отдел (7 позвонков) отличается высокой подвижностью, благодаря чему мы можем поворачивать, опускать и закидывать голову, как нам нужно.

				p Грудной отдел (12 позвонков) – самый малоподвижный. Но именно этот «участок» хребта служит основной опорой для грудной клетки – вместилища сердца, легких и других органов. Кстати, вследствие низкой подвижности в грудном отделе проблемы возникают реже всего, а если появляются, то протекают бессимптомно.

				p Поясничный отдел (5 позвонков) весьма подвижен. И он же вынужден выдерживать наибольшую нагрузку (по сути, вес всего тела, а уж при подъёме и переносе тяжестей, напряженном физическом труде воздействие на структуры поясничного отдела может возрастать во много раз!). Это является причиной наиболее частого обнаружения патологии в данной части позвоночника.

				p Зато крестцовый отдел совершенно неподвижен, так как состоит из 5 массивных сросшихся позвонков.

				p Наконец, копчиковый отдел является малоподвижным и представляет собой 3-5 небольших позвонков, которые с возрастом тоже образовывают единую кость.

				h2 Правильная кривая

				p Если посмотреть на позвоночник человека сбоку, то сразу станет заметно, что это не идеально прямая вертикаль – позвонки соединены в волнистую изогнутую линию, напоминающую латинскую буквы «s». Эти естественные изгибы называются «кифоз» и «лордоз».

				p Под кифозом понимают прогиб позвоночника назад. У нас их два: большой – в грудном отделе и маленький – в крестцовом. А термином «лордоз» обозначают изгибы позвоночника в сторону передней части тела. Их у нас тоже два: большой – в поясничном отделе и маленький, но очень подвижный – в шейном.

				p Волнообразный хребет обладает свойствами пружины. Он позволяет смягчать разнообразные толчки во время движения (при беге, прыжках, соскоках, бросках и ударах). К тому же изгибы эффективно распределяют вес нашего тела и переносимых грузов по всей длине хребта. «Волна» начинает формироваться у детишек с самого маленького возраста. Сначала, когда ребенок поднимает голову, образуется шейный изгиб. Когда малыш начинает садиться, изгибается грудной отдел. А позже, когда маленький человечек учится ходить, у него появляется изгиб в пояснице.

				h2 Биологический амортизатор

				p Но не только форма обеспечивает хребту подвижность и гибкость. Этой же цели служат круглые «прокладки» между позвонками, на 85% состоящие из воды – межпозвоночные диски. Во-первых, они связывают позвонки между собой, во-вторых, выполняют рольполусустава, допуская небольшую амплитуду движений в пределах одного сегмента. В-третьих, они отлично справляются с функцией ослабления вибрации и ударов, выступая в качестве гидравлических амортизаторов.

				p В Family Clinic межпозвоночного диска располагается желеобразное или, правильнее сказать, пульпозное ядро, которое играет роль шарового сочленения. Оно очень упругое: внутри давление достигает 5-6 атмосфер, что в 2,5-3 раза выше, чем в автомобильной шине! Со всех сторон этот «шарик» окружает фиброзное кольцо, которое состоит из многочисленных рядов прочных и эластичных волокон. Ядро принимает на себя основную нагрузку, а кольцо не дает ему расплющиться.

				p Самым важным показателем здоровья диска считается высота. В свою очередь, она определяется тем, насколько хорошо наша межпозвоночная «прокладка» питается. При этом у взрослого человека (после 20 лет) диски лишены кровеносных капилляров, а потому обречены кормиться методом диффузии – они вбирают в себя полезные веществ и кислород из тел соседних позвонков и выдавливают из себя метаболиты. Но для этого необходимо, чтобы давление на диски то возрастало, то уменьшалось, заставляя их поочередно сжиматься и «приподниматься». Иными словами, необходимо, чтобы позвоночник выполнял ритмичные движения (например, человек должен делать какую-то работу, заниматься на тренажере, ходить пешком).

				p Если эффект «насоса» в позвоночнике не возникает, то вследствие плохого питания диск начинает терять эластичность, прочность – проседает, ссыхается. Так проявляет себя заболевание, известное как остеохондроз. «Сжавшийся» диск по понятным причинам уже не способен противостоять нагрузкам и может треснуть, отчего его студенистое ядро вытечет наружу и начнет сдавливать нервные корешки, кровеносные и лимфатические сосуды. Данная патология называется грыжей межпозвоночных дисков. К указанным заболеваниям биологических «прокладок» могут привести травмы, слабость мышечного корсета и непомерные физические нагрузки.

				h2 «Футляр» для мозга

				p Изучаем свой хребет дальше. Отнюдь не случайно между телом позвонка и его дугой природа оставила отверстие. Оно предназначено для спинного мозга, без которого скелетная и мускульная системы, а также основные внутренние органы не смогли бы работать. В этом заключается еще одна функция позвоночника. Управление частями тела и системами организма спинной мозг осуществляет посредством нервных корешков, которые проводят двигательные импульсы от головного мозга на периферию и передают информацию в обратном направлении. Каждая пара спинномозговых нервов «обслуживает» определенный участок мышц, кожи и костей.

				p Если же вследствие каких-то причин произойдет ущемление нервных корешков, сигналы управления в них начнут искажаться и угасать, приводя к нарушению функциональной регуляции тех органов и систем организма, которые являются их «подопечными». К примеру, могут возникнуть проблемы с сердцем, легкими, желудком.

				p И никакое лечение не даст результата, пока не пациент не обследуется у невропатолога и не займется своим позвоночником. Наиболее распространенными болезнями «нервов», которые отражаются на двигательных функциях человека, являются люмбаго (он же «простел») и ишиас (больше известный нам как «ущемление седалищного нерва»). Воспалительному процессу в нервных корешках способствуют травмы, дегенеративные процессы в дисках, позвонках и мышечно-связочном аппарате.

				h2 Крепёжный материал

				p Но почему же все-таки наш «золотой столб» сохраняет заданное положение, несмотря на постоянные нагрузки? Ответ прост – его поддерживают особые структуры. Во-первых, это связки, которыми, как прочными нитями, надежно «прошита» вся вертикальная конструкция. По своей прочности связки часто превосходят кости.

				p Также в стабилизации хребта существенную роль играют мышцы – так называемая «параспинальная мускулатура». Она начинается у основания черепа и спускается вниз до самого крестца. Прикрепляясь к отросткам позвонков, мышцы вместе со связками образуют толстый и прочный корсет, который не только позволяет сохранять нам устойчивое положение, но и обеспечивает наклоны и повороты корпуса.

				p Разумеется, чем лучше состояние мышц, связок, сухожилий, тем минимальнее риск повреждений позвоночника. И наоборот: при слабом мышечном корсете увеличиваются нагрузки на пассивные элементы хребта, из-за чего происходит смещение позвонков, «проседание» и разрушение межпозвоночных дисков, «защемление» нервов и ряд других проблем.

				p Эти же неурядицы поджидают тех, кто подвергает свои мускулы асимметричной нагрузке (например, при неправильной позе, которую он занимает в течение дня). Когда связки и мышцы с одной стороны позвоночника перенапрягаются, а с другой – находятся в расслабленном состоянии, диски испытывают неравномерное давление, искривляются, что тянет за собой вереницу заболеваний опорно-двигательной системы (остеохондроз, грыжу и др.). Также мышцам и связкам могут навредить некоторые инфекции и переохлаждение, вызвав воспалительный процесс. А это автоматически отразится на стабилизации позвонков со всеми вытекающими последствиями.

				h2 Путь к здоровью

				p Хотя многие люди знают о том, как важно, чтобы позвоночник был здоровым, на практике мало кто проявляет заботу об этой уникальной конструкции. Подтверждение тому – медицинская статистика, которая утверждает: почти у 80% людей в возрасте старше 30 лет есть те или иные патологии позвоночника. Одним из основных симптомов, свойственных большому числу заболеваний позвоночника, являются болевые ощущения.

				strong – Боль может быть ноющей, острой, схваткообразной, связанной с определенным положением тела или нагрузкой, отдавать в ногу, руку, сопровождаться онемением нижних конечностей. В любом случае нужно поспешить к врачу! Не надо искать помощи в недрах «нетрадиционной медицины», обращаться к костоправам и массажистам. Вместо желаемого облегчения, такие «эксперименты» нередко приносят еще более крупные неприятности. Если же откладывать лечение, то заболевания позвоночника могут затронуть внутренние органы, и тогда вернуть здоровье будет гораздо сложнее. Только квалифицированный специалист способен разобраться в произошедших «неполадках», правильно интерпретировать результаты исследований, анализов и вернуть жизнь больного в нормальное русло.

				p Причем в основном люди сами обрекают себя на болезни, поскольку забывают, что позвоночник создан для движения и требует постоянных посильных нагрузок. Двигаясь, мы обеспечиваем себе долголетие и бодрость. Это знали еще древние мудрецы Востока, которые говорили: «Человек настолько молод и здоров, насколько гибок и здоров его позвоночник». Не дайте состариться себе раньше времени: проявляйте заботу о хребте – этой «оси» здоровья, определяющей наше настроение, активность и полнокровность жизни!

				h2 Что вредит позвоночнику?

				p Суммируя сказанное, легко назвать причины, которые лишают позвоночника силы и гибкости:

				ul
					li слабость мышечного корсета, обусловленная малоподвижным образом жизни;
					li травмы;
					li физические перегрузки;
					li неправильная осанка;
					li переохлаждение и некоторые инфекции;
					li неправильное питание;
					li лишний вес;
					li генетическая предрасположенность к некоторым заболеваниям.

				strong Будьте здоровы!