mixin about-content()
	section.page-content
		.page-content__wrapper
			.single-page-content
				h1 О КЛИНИКЕ
				+breadcrumbs()

				aside.sidebar-left.sidebar-left--float
					.left-navigation
						.left-navigation__list 
							a(href="#" title="").left-navigation__item Наша миссия
							a(href="#" title="").left-navigation__item Наши вакансии
							a(href="#" title="").left-navigation__item Наши гарантии
							a(href="#" title="").left-navigation__item Наши партнеры
							a(href="#" title="").left-navigation__item Отзывы о нас
							a(href="#" title="").left-navigation__item Стандарты качеста
				
				.single-page-content__float.single-page-content__float--news
					.single-page-about
						img(src="%=staticPrefix=%images/content/3D.png" alt="" align="left").single-page-about__img

						p Виртуальный 3D-тур – это уникальный и в тоже время удобный способ показать или представить визуально информацию, которая позволяет уйти от статической двухмерности обычных фото и создать иллюзию присутствия.

						a(href="#" title="").single-page-about__btn Посмотреть виртуальный 3D тур