mixin about-content()
	section.page-content
		.page-content__wrapper
			aside.sidebar-left
				+left-navigation(navigation.about)

			.single-page-content
				h1 О КЛИНИКЕ

				+breadcrumbs()

				p Family Clinic-это многопрофильный Медицинский Центр, в котором сконцентрировано все для Вас и вашей семьи.
				p Мы стремимся помочь своим пациентам повысить уровень их жизни, предоставляя качественные медицинские услуги, сочетая их с атмосферой комфорта, штатом высококвалифицированных специалистов, оборудованием экспертного класса и современными методами диагностики и лечения с 08.00 до 20.00 часов, 6 дней в неделю.
				p Обращаясь к специалистам Family Clinic, пациенты приобретают не только качественные медицинские услуги, включающие всестороннее обследование и постановку точного диагноза, но и комплексное лечение по новейшим методикам с дальнейшими рекомендациями по профилактике заболеваний. Оснащение клиники современной аппаратурой, позволяет быстро и четко поставить диагноз, вести постоянный мониторинг и качественно осуществить лечение. Диагностическое обследование и лечение подбирается строго индивидуально для каждого с учетом множества показателей: пола, возраста, состояния здоровья и так далее. Все отделения клиники работают в тесной связи друг с другом, что позволяет оперативно решать вопросы, возникающие в процессе лечения.
				p Высокий уровень безопасности, на всех этапах лечения сведенный к минимуму риск возникновения осложнений и ускоренный процесс реабилитации, делают процесс лечения в Family Clinicэффективным и результативным.
				p Заботливое отношение медицинского персонала, безупречный уровень сервиса и абсолютная конфиденциальность делают период пребывания в клинике комфортным и приятным.
				p Мы ценим Ваше доверие и бережем свою репутацию, оказывая только качественные услуги!