.sidebar-right {
	float: right;

	width: 195px;
	@media screen and (max-width: 960px) {
		float: none;

		margin: 100px auto;
	}
	&--news {
		width: 230px;
	}
	&__title {
		margin-top: 10px;

		text-transform: uppercase;

		color: $green;

		font-size: em(24px);
		font-weight: 700;
	}
	&__item {
		display: block;

		margin-bottom: 10px;
		padding: 15px 0;

		text-align: center;

		@extend .green-btn;
	}
	&__actions {
		.item-block {
			margin-bottom: 15px;
		}
	}
}
