mixin program-inside-content()
	section.page-content
		.page-content__wrapper
			.single-page-content
				h1 БЕСПЛОДИЕ

				+breadcrumbs()

				.single-page-content__float
					p Бесплодие является одной из самых актуальных проблем современной медицины. Невозможность зачатия отмечается у 15-20% супружеских пар. Согласно определению ВОЗ, брак считается бесплодным, если беременность не наступает при регулярной половой жизни (не реже 4 раз в месяц) в течение года без использования средств контрацепции. Что делать, если у супругов не получается зачать ребенка? С чего начать обследование? Специалисты отделения гинекологии Family Clinic вам помогут!

					h2 Мужское бесплодие

					p У 40-50% пар бесплодие обусловлено нарушениями репродуктивной функции мужчины. Поэтому обследование всегда нужно начинать со спермограммы – изучения эякулята под микроскопом. В анализе определяют: объем эякулята, общее количество сперматозоидов и их концентрацию, подвижность, жизнеспособность, количество нормальных форм и лейкоцитов.

					p При наличии отклонений в спермограмме выполняется углубленное обследование для выявления причин нарушения сперматогенеза. Лечение мужского бесплодия проводится урологом или андрологом. Отсутствие эффекта от длительной терапии – показание для применения вспомогательных репродуктивных технологий (ВРТ), в частности, интрацитоплазматической инъекции сперматозоидов (ИКСИ). Это разновидность экстракорпорального оплодотворения (ЭКО), во время которого в пробирке (invitro) с помощью микрохирургических инструментов сперматозоид вводят в яйцеклетку, затем полученные эмбрионы переносят в матку женщины.

					h2 Иммунологическое бесплодие

					p Достаточно частой причиной бесплодия является иммунный фактор – наличие антиспермальных антител (АСАТ) в семявыносящих протоках у мужчины и/или в цервикальной слизи у женщины. Антитела покрывают сперматозоиды, тем самым, снижая их жизнеспособность и подвижность.

					p В качестве рутинного скрининга на наличие АСАТ проводят MAR-тест (смешанный антиглобулиновый тест, mixed antiglobulin reaction) в сперме (расширенная спермограмма), слизи шейки матки, крови. Для оценки совместимости партнеров дополнительно определяют подвижность сперматозоидов в цервикальной слизи партнерши при помощи пробы Шуварского, Курцрока-Миллера либо теста Крамера.

					p При выявлении иммунологической несовместимости партнеров (наличие АСАТ в шеечной слизи) проводят внутриматочную инсеминацию – введение спермы, минуя шеечный канал, непосредственно в матку, что позволяет паре с иммунологическим бесплодием зачать малыша.

					h2 Эндокринное бесплодие

					p Второй по частоте причиной бесплодия, после «мужского» фактора, является эндокринная патология у женщины. Она проявляется, помимо проблем с зачатием, нарушениями менструального цикла (редкими менструациями вплоть до их исчезновения), снижением полового влечения, аноргазмией.

					p Для уточнения диагноза пациентке рекомендуется выполнить: УЗИ органов малого таза, измерение ректальной (базальной) температуры в течение 3-6 месяцев, а также оценку гормонального статуса. При этом определяют концентрацию в крови лютеинизирующего (ЛГ), фолликулостимулирующего (ФСГ), тиреотропного (ТТГ) гормонов, пролактина, эстрадиола (Е2), тестостерона, прогестерона, кортизола, 17-оксипрогестерона, дегидроэпиандростерона (ДГЭА), трийодтиронина (Т3), тироксина (Т4). Анализ на половые гормоны необходимо сдавать на 2-4 день после начала менструации.

					h2 Каковы наиболее частые причины эндокринного бесплодия?

					p Синдром поликистозных яичников (СПКЯ)- это дисгормональное заболевание, приводящее к образованию плотной оболочки вокруг яичников, препятствующей выходу яйцеклетки (овуляции). При этом по данным УЗИ выявляются: двустороннее увеличение яичников в 2-3 раза, утолщение их капсулы, множество кист; при лабораторном исследовании крови отмечаются: повышение концентрации ЛГ, тестостерона и ДГЭА, снижение уровня эстрадиола. Для лечения СПКЯ применяют гормональную терапию оральными контрацептивами и стимуляторы овуляции, при их неэффективности проводится операция – лапароскопическая каутеризация яичников, после которой женщина может забеременеть.

					p Гиперпролактинемия – состояние, сопровождающееся повышением уровня пролактина в крови, которое обусловлено либо функциональными нарушениями, либо наличием опухоли гипофиза (пролактиномы). Для определения тактики ведения пациенток с гиперпролактинемией необходимо выполнить компьютерную томографию (КТ) турецкого седла (кости основания черепа, на которой лежит гипофиз) для исключения опухолевого процесса. При функциональных нарушениях и небольших пролактиномах назначают каберголин; крупные опухоли удаляют оперативно. После лечения фертильность восстанавливается.

					p Гипотиреоз – снижение функции щитовидной железы, влияющей на синтез половых гормонов. При гипотиреозе определяется повышенным уровень ТТГ, сниженным – Т4. Для лечения заболевания применяется заместительная гормональная терапия Л-тироксином, которую продолжают и после наступления беременности.

					p Синдром истощения яичников, причинами которого являются: наследственные факторы, аутоиммунные процессы, голодание, жесткие диеты, стрессы, депрессия и пр. При этом нарушается созревание фолликулов, исчезают менструации и резко снижается шанс зачать малыша. После устранения воздействующего фактора и проведения восстановительного лечения может наступить беременность.

					p Недостаточность лютеиновой фазы (НЛФ) – состояние, проявляющееся снижением функции желтого тела, дефицитом прогестерона, недостаточным ростом эндо­метрия. НЛФ диагностируется по данным графика базальной температуры и гормонального профиля. Лечение данного нарушения - гормональное.

					p Гипоплазия матки («детская» матка) – аномалия, для которой характерно недоразвитие женской половой системы. «Детская» матка правильно сформирована, но после рождения девочки отстает в развитии. С целью лечения «детской» матки назначается гормональная терапия, которая способствует нормализации размеров матки и наступлению зачатия.

					p Пороки развития половых органов, например, синдром Шерешевского-Тернера – хромосомная патология (одна Х-хромосома вместо двух), при которой яичники могут полностью отсутствовать, матка находиться в зачаточном состоянии. Беременность у таких пациенток возможна в программе ЭКО с донорской яйцеклеткой.

					h2 Трубное бесплодие

					p Нередко причиной бесплодия становится трубно-перитонеальный фактор, обусловленный нарушением проходимости маточных труб на фоне спаечного процесса в малом тазу. В обследование пациентки с подозрением на трубное бесплодие необходимо включать:

					ul
						li влагалищный мазок на флору с подсчетом количества лейкоцитов (маркеров воспаления);
						li диагностику половых инфекций методом полимеразной цепной реакции (ПЦР);
						li обнаружение антител к возбудителям при помощи иммуноферментного анализа (ИФА);
						li бактериологический посев на количество возбудителей и их чувствительность к антибиотикам.
						li Важным этапом выявления трубно-перитонеального фактора является УЗИ. При стандартной методике его проведения сами спайки видны крайне редко, могут определяться лишь косвенные их признаки: смещение яичника, если он подпаян к матке; изменение формы органа, например, деформация мочевого пузыря. Выполнение во время УЗИ специальных проб (с глубоким дыханием, компрессионной, тракционной) позволяет повысить информативность метода в отношении спаечного процесса.

					p Для оценки непроходимости маточных труб широкое применение находят УЗ-гистеросальпингоскопия (УЗГСС) и гистеросальпингография (ГСГ). Последняя в настоящее время используется реже из-за повышенного риска возникновения воспалительных осложнений.

					p сновным диагностическим методом при подозрении на спаечный процесс является лапароскопия, проведение которой позволяет обнаружить спайки и разъединить их. После операции отмечается восстановление репродуктивной функции.

					p При длительно существующем трубном бесплодии, а также неэффективности предшествующих операций на маточных трубах рекомендуется выполнение ЭКО. После него наступление беременности отмечается у 30-50% женщин.

					h2 Эндометриоз

					p Одной из частых причин бесплодия является эндометриоз. При данной патологии имеется разрастание ткани, сходной по строению со слизистой матки (эндометрием), в нетипичных местах: на брюшине, в яичниках, маточных трубах, мышечном слое матки (миометрии). Во время менструации эктопированный эндометрий начинает кровить, вследствие чего присодиняется воспалительный процесс, образуются спайки, проявляющиеся болями и бесплодием.

					p У пациенток с эндометриозом в алгоритм обследования целесообразно включать следующие методы:

					ul
						li УЗИ органов малого таза;
						li магнитно-резонансную томографию (МРТ) при наличии эндометриоидной опухоли яичников;
						li гистероскопию и раздельное диагностическое выскабливание при подозрении на аденомиоз (внутренний эндометриоз матки);
						li определение специфического онкомаркера СА-125, который повышается при всех видах эндометриоза.
						li Окончательный диагноз устанавливается при лапароскопии, во время которой хирург может не только увидеть очаги эндометриоза на поверхности брюшины и яичников, но и прижечь их; а при обнаружении эндометриомы – удалить ее. После операции врач назначает гормональную терапию на 6 месяцев для профилактики повтора заболевания. Беременность наступает у 52-73% женщин по окончании курса лечения.

					h2 Миома матки

					p Зачатие может оказаться невозможным из-за патологии матки, в первую очередь, миомы матки. Это доброкачественная опухоль, которая растет из мышечного слоя матки (миометрия). Если миоматозные узлы расположены субмукозно (под слизистой) либо в области шейки матки или имеют большой размер, они препятствуют наступлению и сохранению беременности.

					p Основными проявлениями данного заболевания являются: обильные менструации и кровотечения (при субмукозном узле), боли внизу живота, нарушения мочеиспускания и стула (при большой миоме и шеечном расположении узла)

					p Пациентке с миомой матки, планирующей беременность, перед зачатием необходимо пройти комплексное обследование, включающее: УЗИ органов малого таза; допплерометрию; МРТ (при гигантской миоме матки); гидросонографию и гистероскопию (при наличии субмукозного узла). Перечисленные методы помогут уточнить диагноз, определить локализацию узлов, их размер и возможность применения одного из органосохраняющих методов лечения:

					ul
						li лапароскопического удаления субсерозного миоматозного узла;
						li механической миомэктомии или гистерорезекции субмукозного узла;
						li эмболизации маточных артерий (ЭМА), широко применяющейся для лечения гигантской миомы матки, субмукозных и шеечных узлов.
						li После удаления опухоли при помощи любой из вышеперечисленных технологий женщина получает шанс забеременеть!

					p Пользуйтесь самыми современными достижениями медицины. Обращайтесь к ведущим специалистам. И ваша мечта – стать мамой – исполнится!

				+sidebar-right('programs')