mixin footer(modiffer)
	- if (modiffer == undefined) modiffer = ''
	footer.footer(class="#{modiffer}")
		.footer__wrapper
			.footer__logo

			.footer__contact
				p Сейфуллина 34Б (пересечение Омарова - Ауэзова)
				p Call-центр: 8 (7172) 26-48-56
				p Регистратура: 8 (7172) 25-48-55
				p E-mail: info@familyclinic.kz

			a(href="#" title="").footer__created Разработана в Astanacreative.kz
	.mask
	+modals()
	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='http://yastatic.net/jquery/1.11.2/jquery.min.js')
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')