.footer {
	border-top: 2px solid #b2b2b2;
	&.home {
		border-top: 0;
	}
	&__wrapper {
		display: flex;

		max-width: 1200px;
		padding: 15px 10px;

		align-items: center;
		@extend .wrapper;
		justify-content: space-between;
	}
	&__logo {
		@include bg($logo);
	}
	&__contact {
		text-align: center;
		text-transform: uppercase;

		color: #6d6e71;

		font-size: em(14px);
		line-height: 1;
		p {
			margin: 0;
		}
	}
	&__created {
		text-decoration: none;

		color: $gray;
		&:hover {
			text-decoration: underline;
		}
	}
}

.mask {
	position: fixed;
	top: 0;
	left: 0;

	display: none;

	width: 100%;
	height: 100%;
	&.active {
		display: block;
	}
}
