mixin slider()
	section.slider
		//- введение в беременность
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-2.jpg" alt="")
		//- wunox
		a(href="http://winox.kz/" title="" target="_blank").slider__item
			img(src="%=staticPrefix=%images/content/slide-7.jpg" alt="")
		//- checkup
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-1.jpg" alt="")
		//- капсульная
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-4.jpg" alt="")
		//- аппаратная косметология
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-6.jpg" alt="")
		//- соляная пещера
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-5.jpg" alt="")
		//- крио
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-3.jpg" alt="")