mixin slider()
	section.slider
		.slider__item
			.slider-description
				p.slider-description__row.slider-description__row--first Не Упустите Время!
				p.slider-description__row.slider-description__row--second Программа 
					span Check-Up
				p.slider-description__row.slider-description__row--third Минимум Времени И Затрат
				p.slider-description__row.slider-description__row--fourth Максимум Здоровья 
				p.slider-description__row.slider-description__row--fifth На Долгие Годы!
			img(src="%=staticPrefix=%images/content/slider.jpg" alt="")
		.slider__item
			img(src="%=staticPrefix=%images/content/slider.jpg" alt="")
		.slider__item
			img(src="%=staticPrefix=%images/content/slider.jpg" alt="")