mixin slider()
	section.slider
		//- - for (var i = 1; i < 8; i++) {
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-1.jpg" alt="")
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-2.jpg" alt="")
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-3.jpg" alt="")
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-4.jpg" alt="")
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-5.jpg" alt="")
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-6.jpg" alt="")
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-7.jpg" alt="")
		a(href="#" title="").slider__item
			img(src="%=staticPrefix=%images/content/slide-8.jpg" alt="")
		//- - }