mixin news-content()
	section.page-content
		.page-content__wrapper
			.single-page-content
				h1 МУЖСКОЕ ЗДОРОВЬЕ!

				+breadcrumbs()

				.single-page-content__float.single-page-content__float--news
					.single-page-content__date 15.08.2015

					h2 FamilyClinic объявляетавгуст месяц – МЕСЯЦЕМ ПРОВЕРКИ МУЖСКОГО ЗДОРОВЬЯ!

					img(src="%=staticPrefix=%images/content/news.jpg" alt="" align="left")

					p Стоит ли говорить о том, какую важную роль для мужчины играет здоровье мочеполовой системы?! От ее состояния зависит не только общее самочувствие, но и качество интимной жизни. Что же требуется для того, чтобы обеспечить себе интимное долголетие и репродуктивную способность?

					p Наибольшее беспокойство по поводу состояния мочеполовой системы должны проявлять мужчины, перешагнувшие 40-летний рубеж, так как в этот период уже наблюдаются некоторые изменения в предстательной железе вследствие гормонального сдвига или ранее перенесенных воспалительных заболеваний. Сказывается и гиподинамия, ведь длительное сидение нарушает кровоснабжение органов малого таза, из-за чего может возникнуть невоспалительный простатит. Активизируются в этот период жизни и «неблагонадежные» гены. Так что распространенным диагнозом в данной возрастной группе, помимо воспаления простаты, являются доброкачественная гиперплазия (аденома) и рак предстательной железы. В силу изложенных выше причин специалисты всего мира настаивают на важности ежегодного прохождения каждым мужчиной скрининга для проверки состояния мочеполовой системы.

					p В список наиболее популярных болезней мочеполовой системы мужчин входят: простатит, уретрит, пиелонефрит, мочекаменная болезнь, мужское бесплодие, аденома и рак предстательной железы.

					p Программа обследования включает в себя:

					ul
						li Микроскопия урогенитального мазка
						li УЗИ простаты
						li PSA общий
						li Кровь на микрореакцию
						li Гормоны: тестостерон, ФСГ, дигидротестостерон
						li Спермаграмма
						li Консультация доктора первичная и повторная
					
					strong Стоимость программы 15 000 тенге

					.single-page-content-form
						a(href="#" title="").single-page-content-form__link ЗАПИСАТЬСЯ НА ПРИЕМ

						form(method="" action="").single-page-content-form-block
							.single-page-content-form-block__row.single-page-content-form-block__row--name
								input(type="text" value="" placeholder="Ваше Ф.И.О.").single-page-content-form-block__element
							.single-page-content-form-block__row.single-page-content-form-block__row--mail
								input(type="text" value="" placeholder="Ваш эмаил...").single-page-content-form-block__element
							textarea(placeholder="Ваш текст...").single-page-content-form-block__element.single-page-content-form-block__element--textarea
							input(type="submit" value="Отправить заявку").single-page-content-form-block__submit
				+sidebar-right('news')