.page-content {
	&__wrapper {
		display: flex;

		max-width: 1200px;
		padding: 10px;

		align-items: flex-start;
		@extend .wrapper;
		justify-content: space-between;

		@media screen and (max-width: 960px) {
			display: block;
		}
	}
}
