mixin prices-content()
	section.prices-content
		.prices-content__wrapper
			h1 Прейскурант

			+breadcrumbs()

			.prices-content-list
				.prices-content-item Консультации специалистов Family Clinic
					.prices-content-item-inside
						table
							tbody
								tr
									td Первичный консультативный прием врача дмн
									td 7000
								tr
									td Первичный консультативный прием врача к.м.н.
									td 6000
								tr
									td Первичный консультативный прием врача 
									td 4000
								tr
									td Первичный консультативный прием хирурга-травматолога
									td 3000
								tr
									td Повторный консультативный прием врача дмн
									td 4000
								tr
									td Повторный консультативный прием врача к.м.н.
									td 3000
								tr
									td Повторный консультативный прием врача 
									td 2500
								tr
									td Повторный консультативный прием хирурга-травматолога
									td 2000
								tr
									td Первичный прием эпилептолога
									td 5000
								tr
									td Повторный прием эпилептолога
									td 4000
								tr
									td Первичный прием психолога,психотерапевта
									td 6000
								tr
									td Дневной стационар (без медикаментов)
									td 2000
				.prices-content-item Выездные услуги Family Clinic
					.prices-content-item-inside
						table
							tbody
								tr
									td Осмотр врача дмн
									td 10 000 
								tr
									td Осмотр врача кмн
									td 9 000 
								tr
									td Осмотр врача высшей категории
									td 8 000 
								tr
									td Осмотр врача 
									td 7 000 
								tr
									td Прием психолога,психотерапевта на дому
									td 10 000 
								tr
									td Забор крови  
									td 1500 
								tr
									td Подкожные инъекции (без учета лекарственных средств)
									td 600 
								tr
									td Внутримышечная инъекция взрослым (без учета лекарственных средств)
									td 800 
								tr
									td ЭКГ (электрокардиограмма)
									td 2 000 
								tr
									td Патронаж медсестры на дому
									td 2 000 