mixin specialist()
	section.specialist
		.specialist__wrapper
			.specialist__title 
				span НАШИ СПЕЦИАЛИСТЫ

			.specialist-list
				a(href="#" title="").specialist-list-item
					img(src="%=staticPrefix=%images/content/specialist-1.jpg" alt="").specialist-list-item__img
					span.specialist-list-item__name ШАУМЕНОВА ЖАНАР ЗАЙДУЛЛАЕВНА
					span.specialist-list-item__position врач эндокринолог

				a(href="#" title="").specialist-list-item
					img(src="%=staticPrefix=%images/content/specialist-2.jpg" alt="").specialist-list-item__img
					span.specialist-list-item__name КУЛЕКЕШОВА НАЗИРА ЖАЗУБАЕВНА
					span.specialist-list-item__position врач-офтальмолог

				a(href="#" title="").specialist-list-item
					img(src="%=staticPrefix=%images/content/specialist-3.jpg" alt="").specialist-list-item__img
					span.specialist-list-item__name ЧУНТОНОВА ИРИНА ВЯЧЕСЛАВОВНА
					span.specialist-list-item__position врач дерматовенеролог 1 категории

				a(href="#" title="").specialist-list-item
					img(src="%=staticPrefix=%images/content/specialist-4.jpg" alt="").specialist-list-item__img
					span.specialist-list-item__name КОРОЛЕВА ИРИНА ИВАНОВНА
					span.specialist-list-item__position врач отоларинголог

				a(href="#" title="").specialist-list-item
					img(src="%=staticPrefix=%images/content/specialist-1.jpg" alt="").specialist-list-item__img
					span.specialist-list-item__name ШАУМЕНОВА ЖАНАР ЗАЙДУЛЛАЕВНА
					span.specialist-list-item__position врач эндокринолог

				a(href="#" title="").specialist-list-item
					img(src="%=staticPrefix=%images/content/specialist-2.jpg" alt="").specialist-list-item__img
					span.specialist-list-item__name КУЛЕКЕШОВА НАЗИРА ЖАЗУБАЕВНА
					span.specialist-list-item__position врач-офтальмолог

				a(href="#" title="").specialist-list-item
					img(src="%=staticPrefix=%images/content/specialist-3.jpg" alt="").specialist-list-item__img
					span.specialist-list-item__name ЧУНТОНОВА ИРИНА ВЯЧЕСЛАВОВНА
					span.specialist-list-item__position врач дерматовенеролог 1 категории

				a(href="#" title="").specialist-list-item
					img(src="%=staticPrefix=%images/content/specialist-4.jpg" alt="").specialist-list-item__img
					span.specialist-list-item__name КОРОЛЕВА ИРИНА ИВАНОВНА
					span.specialist-list-item__position врач отоларинголог

			a(href="#" title="").specialist__btn ПОСМОТРЕТЬ ВСЕХ СПЕЦИАЛИСТОВ
