mixin doctor-content()
	section.page-content
		.page-content__wrapper
			.single-page-content
				h1 ШАУМЕНОВА ЖАНАР ЗАЙДУЛЛАЕВНА
				+breadcrumbs()

				aside.sidebar-left.sidebar-left--float
					.specialist-content-item
						img(src="%=staticPrefix=%images/content/specialist-1.jpg" alt="").specialist-content-item__img
						.specialist-content-item__name Джолдасова Гульмира Тлеубердиевна
						.specialist-content-item__position Врач терапевт

						a(href="#appointment" title="" data-click="modal").specialist-content-item__btn Записаться на прием
				
				.single-page-content__float.single-page-content__float--news
					p
						strong Врач терапевт
					p
						strong Высшая квалификационная категория

					p
						strong(style="color:#5fc470;") Стоимость приема - 4 000

					p Семипалатинский Государственный медицинский институт  факультет «Лечебное дело».
					p Стаж по специальности 31год

					p
						strong Повышения квалификации:

					ul
						li Свидетельство 2012г «Терапия» 
						li Сертификат  «Эндохирургия в акушерстве и гинекологии»  
						li Сертификат специалиста «Терапия»  2012г г.Каунас, Литва 

					p 
						strong Врач-терапевт поможет при наличии следующих болезней: 

					ul
						li серьезные легочные недуги: воспаление легких, бронхит, пневмония, трахеит, астма;
						li заболевания сердечно-сосудистой системы: вегетососудистая дистония, ишемическая болезнь сердца;
						li болезни пищеварительного тракта: синдром раздраженного кишечника, гастрит, дуоденит, 
						li некоторые патологии кровеносной системы (железодефицитная анемия).