include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../header-call/header-call
include ../search/search
include ../slider/slider
include ../directions/directions
include ../specialist/specialist
include ../why/why
include ../additional-service/additional-service
include ../tabs/tabs
include ../appointments/appointments
include ../map/map
include ../breadcrumbs/breadcrumbs
include ../pagination/pagination
include ../item-block/item-block
include ../inside-top/inside-top
include ../left-navigation/left-navigation
include ../about-content/about-content
include ../about-inside-content/about-inside-content
include ../program-content/program-content
include ../program-inside-content/program-inside-content
include ../sidebar-right/sidebar-right
include ../news-content/news-content
include ../specialist-content/specialist-content
include ../prices-content/prices-content
include ../appointment-content/appointment-content
include ../doctor-content/doctor-content
include ../contact-content/contact-content
include ../tour-3d/tour-3d
include ../gallery-content/gallery-content
include ../p404-content/p404-content
include ../search-result-content/search-result-content
include ../useful-information-content/useful-information-content
include ../reviews-content/reviews-content
include ../footer/footer
include ../modals/modals