include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../search/search
include ../slider/slider
include ../directions/directions
include ../specialist/specialist
include ../why/why
include ../additional-service/additional-service
include ../tabs/tabs
include ../appointments/appointments
include ../map/map
include ../breadcrumbs/breadcrumbs
include ../pagination/pagination
include ../item-block/item-block
include ../footer/footer