mixin search()
	.search
		.search__mobile
		.search__wrapper
			form(method="" action="").search__form
				input(type="search" value="" placeholder="Поиск по сайту").search__field
				input(type="submit" value="").search__submit
