mixin p404-content()
	section.p404-content
		.p404-content__wrapper
			.p404-content__icon
				img(src="%=staticPrefix=%images/content/p404-content.jpg" alt="")
			.p404-content__title ТАКОЙ СТРАНИЦЫ НЕ СУЩЕСТВУЕТ
			a(href="#" title="").p404-content__link перейти на главную страницу