mixin item-block()
	.item-block
		img(src="%=staticPrefix=%images/content/item-block.jpg" alt="").item-block__img
		a(href="" title="").item-block__title Мы открылыись!
		span.item-block__date 28.04.2015
		p.item-block__text Пациент оплачивает твердую таксу, причем мы не требуем с наших пациентов дополнительной оплаты наших услуг по организации лечения в случаях, если им приходится приезжать...