mixin map()
	section.map
		| <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.580193297382!2d71.42672259999999!3d51.17152850000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245812abc9e2579%3A0x38b15af1ea8f3b6c!2z0YPQuy4g0KHQsNC60LXQvdCwINCh0LXQudGE0YPQu9C70LjQvdCwIDM0LCDQkNGB0YLQsNC90LAgMDIwMDAwLCDQmtCw0LfQsNGF0YHRgtCw0L0!5e0!3m2!1sru!2s!4v1440382379230" width="1920" height="406" frameborder="0" style="border:0" allowfullscreen></iframe>