mixin additional-service()
	section.additional-service
		.additional-service__wrapper
			.additional-service__title 
				span ДОПОЛНИТЕЛЬНЫЙ СЕРВИС FAMILY CLINIC

			.additional-service-list
				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title ЛЕЧЕНИЕ ЗА РУБЕЖОМ
						.additional-service-list-item__inside
							p.additional-service-list-item__text Family Clinic поможет Вам в организации всех вопросов для прохождения эффективного лечения в Германии. 
							ul.additional-service-list-item__container
								li.additional-service-list-item__list Выбор лучших немецких клиник и врачей по Вашему желанию.
								li.additional-service-list-item__list Прямая оплата медицинских услуг в клинику по государственным ценам.
								li.additional-service-list-item__list Гарантия лучшей цены: без начисления процентов от стоимости лечения.
								li.additional-service-list-item__list Фиксированные цены на пакеты предоставляемых услуг нашей компании.
								li.additional-service-list-item__list Визовая поддержка: быстро, качественно, без личного присутствия.
								li.additional-service-list-item__list Услуги по организации последующих приемов у лечащего врача - бесплатно.
								li.additional-service-list-item__list Поддержка пациентов после лечения. Содействие в доставке лекарств.
							a(href="#" title="").additional-service-list-item__btn УЗНАТЬ ПОДРОБНЕЕ
					img(src="%=staticPrefix=%images/content/additional-service-1.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title АПТЕКА
						.additional-service-list-item__inside
							p.additional-service-list-item__text Мы сделали так, чтобы каждый наш посетитель мог купить необходимые медикаменты, не выходя из клиники. В нашей аптеке в широком ассортименте рецептурные препараты, а так же представлен большой выбор лекарственных средств, отпускаемых без рецепта врача, пищевых добавок, предметов ухода, косметических средств.
							
							a(href="#" title="").additional-service-list-item__btn УЗНАТЬ ПОДРОБНЕЕ
					img(src="%=staticPrefix=%images/content/additional-service-2.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title Санаторно-курортное лечение
						.additional-service-list-item__inside
							p.additional-service-list-item__text Санаторно-курортное лечение в Казахстане - это традиционная часть здравоохранения страны, поскольку уже многие годы такие методы профилактики, лечения и реабилитации применяются во многих сферах медицины. А лечение на курортах - это уникальный климат, чистейший горный воздух, морская вода и целебные факторы побережья.

							a(href="#" title="").additional-service-list-item__btn УЗНАТЬ ПОДРОБНЕЕ
					img(src="%=staticPrefix=%images/content/additional-service-3.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title ЛЕЧЕНИЕ ЗА РУБЕЖОМ
						.additional-service-list-item__inside
							p.additional-service-list-item__text Family Clinic поможет Вам в организации всех вопросов для прохождения эффективного лечения в Германии. 
							ul.additional-service-list-item__container
								li.additional-service-list-item__list Выбор лучших немецких клиник и врачей по Вашему желанию.
								li.additional-service-list-item__list Прямая оплата медицинских услуг в клинику по государственным ценам.
								li.additional-service-list-item__list Гарантия лучшей цены: без начисления процентов от стоимости лечения.
								li.additional-service-list-item__list Фиксированные цены на пакеты предоставляемых услуг нашей компании.
								li.additional-service-list-item__list Визовая поддержка: быстро, качественно, без личного присутствия.
								li.additional-service-list-item__list Услуги по организации последующих приемов у лечащего врача - бесплатно.
								li.additional-service-list-item__list Поддержка пациентов после лечения. Содействие в доставке лекарств.
							a(href="#" title="").additional-service-list-item__btn УЗНАТЬ ПОДРОБНЕЕ
					img(src="%=staticPrefix=%images/content/additional-service-1.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title АПТЕКА
						.additional-service-list-item__inside
							p.additional-service-list-item__text Мы сделали так, чтобы каждый наш посетитель мог купить необходимые медикаменты, не выходя из клиники. В нашей аптеке в широком ассортименте рецептурные препараты, а так же представлен большой выбор лекарственных средств, отпускаемых без рецепта врача, пищевых добавок, предметов ухода, косметических средств.
							
							a(href="#" title="").additional-service-list-item__btn УЗНАТЬ ПОДРОБНЕЕ
					img(src="%=staticPrefix=%images/content/additional-service-2.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title Санаторно-курортное лечение
						.additional-service-list-item__inside
							p.additional-service-list-item__text Санаторно-курортное лечение в Казахстане - это традиционная часть здравоохранения страны, поскольку уже многие годы такие методы профилактики, лечения и реабилитации применяются во многих сферах медицины. А лечение на курортах - это уникальный климат, чистейший горный воздух, морская вода и целебные факторы побережья.

							a(href="#" title="").additional-service-list-item__btn УЗНАТЬ ПОДРОБНЕЕ
					img(src="%=staticPrefix=%images/content/additional-service-3.jpg" alt="").additional-service-list-item__img