mixin additional-service()
	section.additional-service
		.additional-service__wrapper
			.additional-service__title 
				span ДОПОЛНИТЕЛЬНЫЙ СЕРВИС FAMILY CLINIC

			.additional-service-list
				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title ЛЕЧЕНИЕ ЗА РУБЕЖОМ
						.additional-service-list-item__inside
							p.additional-service-list-item__text Family Clinic поможет Вам в организации всех вопросов для прохождения эффективного лечения в Германии. 
							ul.additional-service-list-item__container
								li.additional-service-list-item__list Выбор лучших немецких клиник и врачей по Вашему желанию.
								li.additional-service-list-item__list Прямая оплата медицинских услуг в клинику по государственным ценам.
								li.additional-service-list-item__list Гарантия лучшей цены: без начисления процентов от стоимости лечения.
								li.additional-service-list-item__list Фиксированные цены на пакеты предоставляемых услуг нашей компании.
								li.additional-service-list-item__list Визовая поддержка: быстро, качественно, без личного присутствия.
								li.additional-service-list-item__list Услуги по организации последующих приемов у лечащего врача - бесплатно.
								li.additional-service-list-item__list Поддержка пациентов после лечения. Содействие в доставке лекарств.
							a(href="#" title="").additional-service-list-item__btn УЗНАТЬ ПОДРОБНЕЕ


					img(src="%=staticPrefix=%images/content/additional-service-1.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title АПТЕКА
						.additional-service-list-item__inside
							p.additional-service-list-item__text Family Clinic поможет Вам в организации всех вопросов для прохождения эффективного лечения в Германии. 
							ul.additional-service-list-item__container
								li.additional-service-list-item__list Выбор лучших немецких клиник и врачей по Вашему желанию.
								li.additional-service-list-item__list Прямая оплата медицинских услуг в клинику по государственным ценам.
								li.additional-service-list-item__list Гарантия лучшей цены: без начисления процентов от стоимости лечения.
								li.additional-service-list-item__list Фиксированные цены на пакеты предоставляемых услуг нашей компании.
								li.additional-service-list-item__list Визовая поддержка: быстро, качественно, без личного присутствия.
								li.additional-service-list-item__list Услуги по организации последующих приемов у лечащего врача - бесплатно.
								li.additional-service-list-item__list Поддержка пациентов после лечения. Содействие в доставке лекарств.
							a(href="#" title="").additional-service-list-item__btn УЗНАТЬ ПОДРОБНЕЕ
					img(src="%=staticPrefix=%images/content/additional-service-2.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title FAMILY
					img(src="%=staticPrefix=%images/content/additional-service-3.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title АПТЕКА ПО ВЫЗОВУ
					img(src="%=staticPrefix=%images/content/additional-service-1.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title ЛЕЧЕНИЕ В РОССИИ
					img(src="%=staticPrefix=%images/content/additional-service-2.jpg" alt="").additional-service-list-item__img

				.additional-service-list-item
					.additional-service-list-item__content
						.additional-service-list-item__title FAMILY CLINIC
					img(src="%=staticPrefix=%images/content/additional-service-3.jpg" alt="").additional-service-list-item__img