mixin why()
	section.why
		.why__wrapper 
			.why__title 
				span ПОЧЕМУ НУЖНО ВЫБРАТЬ FAMILY CLINIC

			.why-item.why-item--services
				.why-item__element
					.why-item__count 750
					.why-item__description ВИДОВ 
						br 
						| УСЛУГ
				.why-item__text C самого первого дня Вами будут заниматься только лучшие специалисты с огромным опытом работы в своей области
			.why-item.why-item--doctor
				.why-item__element
					.why-item__count 63
					.why-item__description ПРОФЕССИОНАЛЬНЫХ 
						br 
						| ВРАЧЕЙ
				.why-item__text Врачи первой и высшей категории, кандидаты медицинских наук, профессора и доценты кафедр готовы день ото дня поддерживать Ваше здоровье и здоровье Вашей семьи на самом высоком уровне!
			.why-item.why-item--choice
				.why-item__element
					.why-item__count 1
					.why-item__description ПРАВИЛЬНЫЙ 
						br 
						| ВЫБОР
				.why-item__text Совмещая наши знания с тем сервисом, который будет предложен Вам в стенах клиники, можете быть уверены, что Ваше здоровье, и здоровье Вашей семьи будет в надежных руках врачей Family Clinic